<h1>마음껏 질문해 주세요</h1>
<form action="questions/create" method="post">
    이름: <input type='text' name='input_name' value='세훈님 짱팬'><br>
    질문: <input type='text' name='input_content' placeholder='뭐든지 물어봐바'><br>
    <input type='submit' value='물어보기!'>
</form>